:root {
    --light-color: #f5eedc;
    --primary-color: #27548a;
    --dark-color: #183b4e;
    --accent-color: #dda853;
  }
  
  .navbar.navbar-expand-lg {
    background-color: var(--light-color);
    padding: 15px 0;
  }
  
  .nav-link,
  .navbar-brand {
    color: var(--dark-color);
    transition: color 0.3s ease;
    font-weight: 500;
  }
  
  .nav-link:hover,
  .nav-link.active,
  .navbar-brand:hover {
    color: var(--accent-color) !important;
  }
  
  .bi.bi-car-front-fill {
    color: var(--accent-color);
    font-size: 1.5em;
    padding: 0 0.25em;
  }
  .btn-outline-dark {
    color: var(--dark-color);
    border-color: var(--dark-color);
    font-weight: 500;
    transition: all 0.3s ease;
  }
  
  .btn-outline-dark:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
  }
  
  .btn-primary {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: var(--dark-color);
    font-weight: 500;
    transition: all 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: var(--dark-color);
    border-color: var(--dark-color);
    color: var(--light-color);
  }
  
  @media (max-width: 991px) {
    .btn-outline-dark {
      color: var(--light-color);
      border-color: var(--light-color);
    }
  
    .btn-outline-dark:hover {
      background-color: var(--light-color);
      color: var(--dark-color);
    }
  
    .btn-primary {
      background-color: var(--accent-color);
      color: var(--dark-color);
    }
  
    .btn-primary:hover {
      background-color: var(--light-color);
      color: var(--dark-color);
    }
  }
  .contact-btn:hover {
    color: var(--accent-color) !important;
    transform: translateX(5px);
  }
  /* theme switch */

  .darkmode{
    --base-color : #070b1d;
    --base-variant: #101425;
    --text-color :#ffffff;
    --secondary-text : #a4a5b8;
    --primary-color :#3a435d;
    --accent-color : #27548a;
  }
  
  #theme_switch{
    height: 3em ;
    width: 3em ;
    padding: 0px;
    border-radius: 50%;
    background-color: #f5eedc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
  }

  #theme_switch i {
    color: #183b4e;
    font-size: 1.5em;

  }

  
  #theme_switch i:last-child {
    display: none;
  }

  .darkmode #theme_switch i:first-child {
    display: none;
  }

  .darkmode #theme_switch i:last-child {
    display: block;
  }