:root{
  --base-color : white;
  --base-variant: #f5eedc;
  --text-color :#183b4e;
  --secondary-text : var(--accent-color);
  --primary-color :#27548a;
  --accent-color : #dda853;

}

body {
  overflow-x: hidden;
  background-color: var(--base-color);
  color: var(--text-color);
}

/* .fearuredSection {
} */
.fearuredSection_header {
  color: var(--text-color);
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
}
.btn.ViewAllCars {
  color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  width: 13em;
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
}

.btn.ViewAllCars:hover {
  color: var(--base-variant);
  background-color: var(--text-color);
}

.featuredCard {
  border: 1px solid var(--accent-color);
  height: 20em;
  box-shadow: 1px 1px 1px var(--accent-color);
  display: flex;
  align-items: start;
  animation: scaleUp 4s ease 1s;
}

.featuredCardTitle {
  color: var(--text-color);
  height: 2em;
}
.featuredCardType,
.featuredCardModel,
.featuredCardPrice,
.featuredCardCategory {
  color: var(--primary-color);
  font-weight: bold;
}

.featuredCardTypeSpan,
.featuredCardModelSpan,
.featuredCardCategorySpan,
.featuredCardPriceSpan {
  color: var(--accent-color);
}

.btn.bookNowBtn {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--base-variant);
  width: 13em;
}
.btn.bookNowBtn:hover {
  color: var(--base-variant);
  background-color: var(--primary-color);
}
.btn.bookNowBtn .bi.bi-arrow-right {
  margin-left: 1em;
}
@keyframes scaleUp {
  0% {
    transform: scale(0.25, 0.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

/* offer */

.text-ofwhite {
  color: var(--base-variant);
}

.bg-ofwhite {
  background-color: var(--base-variant);
}

.text-darkblue {
  color: var(--text-color);
}

.bg-blue {
  background-color: var(--text-color);
}

.text-lightblue {
  color: var(--primary-color);
}

.bg-lightblue {
  background-color: var(--primary-color);
}

.text-cofee {
  color: var(--accent-color);
}

.bg-cofee {
  background-color: var(--accent-color);
}

.border-cofee {
  border: 1px solid var(--accent-color);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation {
  opacity: 0;
  animation: fadeInUp 0.8s ease forwards;
}
