:root{
  --base-color : #f3f3f3;
  --text-color :#27548a;
}


body{
  background-color: var(--base-color);
}

.clickToAdd,.newAdminData {
    padding: 5px;
    text-align: center;
    background-color: #f0f1f1;
    border: solid 1px #c3c3c3;
    color: #183b4e;
  }
  
  .newAdminData {
    padding: 50px;
    display: none;
  } 
  .error {
    color: red;
    font-size: 14px;
  }
