:root{
  --base-color : #f3f3f3;
  --text-color :#27548a;
}


body{
  background-color: var(--base-color);
}
.car_control{
  color: var(--text-color);
}
.table-wrapper {
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }