color{
    color: #f5eedc;
color: #27548a;
color: #183b4e;
color: #dda853;
}

body{
    height: 100%;
}
.offcanvas{
    /* position: fixed;
    top: 0;
    left: 0; */
    position: static !important;
    height: 100vh;
    background-color: #f3f3f3;
    
}
#offcanvas_div{
    background-color: #f3f3f3;
    box-shadow: 1px 1px 3px #DDD;

}
.offcanvas-title,.nav-link{
 color: #27548a;
}
.bi.bi-car-front-fill{
    font-size: 1.5em;
    margin-right: 0.25em;
}
.nav-link:hover,
  .nav-link.active,
  .navbar-brand:hover {
    color: rgb(253, 134, 154)  !important;
  }

  .ml_18em{
    margin-left: 18em;
  }