color{
    color: #f5eedc;
color: #27548a;
color: #183b4e;
color: #dda853;
}


.offcanvas{
    position: static !important; 
    background-color: #183b4e;
    height: 100vh;
    color: #f5eedc;
}
#offcanvas_div{
    background-color: #183b4e;
    height: 100vh;

}
.bi.bi-car-front-fill{
    color: #dda853;
    font-size: 1.5em;
}
.nav-link:hover,
  .nav-link.active,
  .navbar-brand:hover {
    color: #dda853 !important;
  }