
:root{
  --base-color : #f3f3f3;
  --text-color :#27548a;
}
body{
    height: 100%;
}
.offcanvas{
    /* position: fixed;
    top: 0;
    left: 0; */
    position: static !important;
    height: 100vh;
    background-color: var(--base-color);
    border-right: 5px solid var(--text-color);
    border-left: 5px solid var(--text-color);

}

.offcanvas-title,.nav-link{
 color: var(--text-color);
}
.bi.bi-car-front-fill{
    font-size: 1.5em;
    margin-right: 0.25em;
}
.nav-link:hover,
  .nav-link.active,
  .navbar-brand:hover {
    color: rgb(253, 134, 154)  !important;
  }

  .nav-item.mx-2{
    width: 100%;
    text-align: center;
  }

/* theme switch */

.darkmode{
  --base-color : #070b1d;
  /* --base-variant: #101425; */
  --text-color :#ffffff;
  --secondary-text : #a4a5b8;
  /* --primary-color :#3a435d; */
  /* --accent-color : #27548a; */
}

#theme_switch{
  height: 3em ;
  width: 3em ;
  padding: 0px;
  border-radius: 50%;
  background-color: #f5eedc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
}

#theme_switch i {
  color: #183b4e;
  font-size: 1.5em;

}


#theme_switch i:last-child {
  display: none;
}

.darkmode #theme_switch i:first-child {
  display: none;
}

.darkmode #theme_switch i:last-child {
  display: block;
}

